@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

:root {
  font-family: "Oxanium", monospace, system-ui;
  --background-color: #000006;
  --text-color: #FFFFF6;
  --accent-color-1: #001aff;
  --accent-color-2: #000e8a;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #FFFFF6;
    --text-color: #000006;
    --accent-color-1: #001aff;
    --accent-color-2: #000e8a;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: #FFFFF6;
  letter-spacing: 0.6rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

i {
  margin-right: 1rem;
}

body {
  width: 100vw;
  height: 100vh;
  gap: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  width: 100%;
  background: center / cover no-repeat url("./images/citylandscape.jpeg");
}

main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  text-align: center;
  width: 100%;
  padding: 1rem;
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: var(--text-color);
  margin: 10px;
  border-radius: 5px;
  padding: 3px;
}

a:hover, a:focus {
  color: var(--accent-color-1);
  outline: 2px solid var(--accent-color-1);
}

button {
  padding: 3px 18px;
  border: none;
  color: #FFFFF6;
  background-color: var(--accent-color-1);
  border-radius: 5px;
  cursor: pointer;
}

button:hover, button:focus {
  outline: 4px double var(--accent-color-1);
}


section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  gap: 2rem;
  padding: 1em;
}

#about div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projects-grid {
  display: grid;
  gap: 48px;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 16px;
}

.projects-card {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 1rem;
  padding: 12px;
  min-width: 325px;
  width: 100%;
  border-radius: 0px 5px 5px 0px;
  border-left: 1px solid var(--text-color);
  transition: transform 1s ease;
}

.projects-card:hover, .projects-card:focus {
  border: none;
  cursor: pointer;
  outline: 2px solid var(--accent-color-1);
  border-left: 1px solid var(--accent-color-1);
  transform: scale(1.1);
}

.projects-card .details {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.projects-card span {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

p {
  text-wrap: pretty;
  max-width: 80ch;
  line-height: 2rem;
}

.profile-picture {
  max-width: 365px;
  border: 2px groove rgb(255, 255, 255, 0.1);
  border-radius: 50%;
  filter: drop-shadow(0px 0px 2px #FFFFFF);
}


@media (min-width: 1000px) {
  h1 {
    text-align: right;
    font-size: 3rem;
  }

  header {
    display: flex;
    gap: 10%;
    flex-direction: row;
    justify-content: center;
  }

  .projects-grid {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }

  .projects-card {
    min-width: 425px;
  }
}